/* Reset default css  */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1em;
}

/* Tools  */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* General */
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    height: 100%;
    font-size: 16px;
    font-size: 62.5%;

    background-color: white;
}

/* Typografie  */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;

    line-height: 1.1;
}

/* Add margin top to heading when it comes after another piece of content 
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  /* margin-top: 60px; 
}*/

body {
    font-family: 'Poppins', Arial, sans-serif;
}

/* Heading 1 */
h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3rem;

    margin-bottom: 16px;

    color: var(--text-color-primary);
}

/* Heading 2 */
h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3rem;

    color: var(--text-color-primary);
    margin-bottom: 12px;
}

/* Heading 3 */
h3 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 2rem;
}

p {
    color: #000;
    margin-bottom: 2rem;
}

a {
    color: #000;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

/* ul,
ol {
  padding-left: 30px;
} */

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

/*  
After this comment starts own written css
Above is the tweaked version of the reset css to my whishes
*/

:root {
    --color-black: #000;
    --color-white: #fff;

    --bg-color-main: #e9d2fc;
    --bg-color-secondary: #2c074b;

    --primary-color-lightblue: #e9d2fc;
    --primary-color-darkpurple: #2c074b;
    --primary-color-orange: #ff7151;

    --state-focussed-color: #693196;
}

main > ul {
  background-color: var(--primary-color-lightblue);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 5%;

  width: 85vw;
  height: 85vh;

  padding: 5vw;
  margin: auto;
  margin-top: 7vh;

  border-radius: 1rem;
}

main > ul li {
  display: flex;

  height: 100%;
  width: 100%;

  margin: auto;

  border-radius: .7rem;
}